<form #form="ngForm" ngNativeValidate>
  <a [routerLink]="['/']" class="back-button">
      <button class="btn btn-primary">{{ 'REGISTER.button' | translate }}</button>
  </a>

  <h1>{{ 'REGISTER.form_name' | translate }}</h1>
  <div class="form-group">
      <label for="full_name">{{ 'REGISTER.full_name' | translate }}</label>
      <input type="text" class="form-control" id="full_name"
             required minlength="4"
             [(ngModel)]="command.fullName" name="full_name"
             #full_name="ngModel">

    <div *ngIf="full_name.invalid && (full_name.dirty || full_name.touched)"
      class="alert alert-warning">

      <div *ngIf="full_name.errors?.required">
        {{ 'REGISTER.full_name_error' | translate }}
      </div>
      <div *ngIf="full_name.errors?.minlength">
        {{ 'REGISTER.full_name_error_1' | translate }}
      </div>
    </div>
  </div>

  <div class="form-group">
      <label for="display_name">{{ 'REGISTER.display_name' | translate }}</label>
      <input type="text" class="form-control" id="display_name"
              required minlength="4"
              [(ngModel)]="command.displayName" name="display_name"
              #display_name="ngModel">
    <div *ngIf="display_name.invalid && (display_name.dirty || display_name.touched)"
      class="alert alert-warning">

      <div *ngIf="display_name.errors?.required">
        {{ 'REGISTER.display_name_error' | translate }}
      </div>
      <div *ngIf="display_name.errors?.minlength">
        {{ 'REGISTER.display_name_error_1' | translate }}
      </div>
    </div>
  </div>

  <!--
  <div class="form-group">
    <label for="data_verifier_id">Data verifier id</label>
    <input type="text" class="form-control" id="data_verifier_id"
            [(ngModel)]="command.dataVerifierId" name="data_verifier_id"
            #data_verifier_id="ngModel">
  </div>
  -->
  <div class="form-group">
    <label for="yearOfBirth">{{ 'REGISTER.year_of_birth' | translate }}</label>
    <input type="number" class="form-control" id="yearOfBirth"
          ng-valid ng-valid-number ng-valid-max ng-valid-min
           required
           [(ngModel)]="command.yearOfBirth" name="yearOfBirth"
           #yearOfBirth="ngModel">

    <div *ngIf="yearOfBirth.invalid && (yearOfBirth.dirty || yearOfBirth.touched)"
      class="alert alert-warning">
      <div *ngIf="yearOfBirth.errors?.required">
        {{ 'REGISTER.year_of_birth_error' | translate }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label for="sex">{{ 'REGISTER.sex' | translate }}</label>
    <select class="form-control" id="sex"
            required
            [(ngModel)]="command.sex" name="sex"
            #sex="ngModel">
        <option *ngFor="let s of sexOptions" [value]="s.id">{{s.desc}}</option>
    </select>
    <div *ngIf="sex.invalid && (sex.dirty || sex.touched)" class="alert alert-warning">
        <div *ngIf="sex.errors?.required">
          {{ 'REGISTER.sex_error' | translate }}
        </div>
      </div>
  </div>

<div class="form-group">
    <label for="preferredLanguage">{{ 'REGISTER.preferred_lang' | translate }}</label>
    <select class="form-control" id="preferredLanguage"
            required
            [(ngModel)]="command.preferredLanguage"
            name="preferredLanguage"
            #preferredLanguage="ngModel">
        <option *ngFor="let preferredLanguage of languageOptions" [value]="preferredLanguage.id">{{preferredLanguage.desc}}</option>
    </select>

    <div *ngIf="preferredLanguage.invalid && (preferredLanguage.dirty || preferredLanguage.touched)" class="alert alert-warning">
        <div *ngIf="preferredLanguage.errors?.required">
          {{ 'REGISTER.preferred_lang_error' | translate }}
      </div>
    </div>
  </div>

  <div class="form-group">
    <label>{{ 'REGISTER.location' | translate }}</label>
    <div>
    <agm-map [latitude]="defaultLat" [longitude]="defaultLng" (mapClick)="onLocationSelected($event)">
        <agm-marker [latitude]="selectedLat" [longitude]="selectedLng" *ngIf="locationSelected"></agm-marker>
      </agm-map>
    </div>
    <fieldset class="form-inline">
      <label for="latitude">{{ 'REGISTER.latitude' | translate }}</label>
      <input
        type="number"
        class="input-mini form-control"
        id="latitude"
        required
        [(ngModel)]="command.gpsLocation.latitude"
        name="latitude"
        #latitude="ngModel"

      />
      <label for="longitude">{{ 'REGISTER.longitude' | translate }}</label>
     <input
        type="number"
        class="input-mini form-control"
        id="longitude"

        required
        [(ngModel)]="command.gpsLocation.longitude"
        name="longitude"
        #longitude="ngModel"
      />
      <div *ngIf="(latitude.invalid && (latitude.dirty || latitude.touched))
        || (longitude.invalid && (longitude.dirty || longitude.touched))" class="alert alert-warning">

      <div *ngIf="latitude.errors?.required">
        {{ 'REGISTER.latitude_error' | translate }}
      </div>
      <div *ngIf="longitude.errors?.required">
        {{ 'REGISTER.longitude_error' | translate }}
      </div>
    </div>
    </fieldset>
  </div>


  <div class="form-group">
    <label for="region">{{ 'REGISTER.region' | translate }}</label>
    <input type="text" class="form-control" id="region"
            required
            [(ngModel)]="command.region" name="region"
            #region="ngModel">
  <div *ngIf="region.invalid && (region.dirty || region.touched)"
    class="alert alert-warning">

    <div *ngIf="region.errors?.required">
      {{ 'REGISTER.region_error' | translate }}
    </div>
  </div>
</div>

<div class="form-group">
  <label for="district">{{ 'REGISTER.district' | translate }}</label>
  <input type="text" class="form-control" id="district"
          required
          [(ngModel)]="command.district" name="district"
          #district="ngModel">
  <div *ngIf="district.invalid && (district.dirty || district.touched)"
    class="alert alert-warning">

    <div *ngIf="district.errors?.required">
      {{ 'REGISTER.district_error' | translate }}
    </div>
  </div>
</div>

<div class="form-group">
  <label for="village">{{ 'REGISTER.village' | translate }}</label>
  <input type="text" class="form-control" id="village"
          [(ngModel)]="changeVillageCommand.village" name="village"
          #village="ngModel">
  <div *ngIf="village.invalid && (village.dirty || village.touched)"
    class="alert alert-warning">

    <div *ngIf="village.errors?.required">
      {{ 'REGISTER.village_error' | translate }}
    </div>
  </div>
</div>

  <div class="form-group">
    <label>{{ 'REGISTER.phone_number' | translate }}</label>
    <input type="text"
      class="input-mini form-control"
      id="phoneNumber"
      required
      [(ngModel)]="phoneNumberString"
      name="phoneNumber"
      #phoneNumbers="ngModel"
        >
    <div *ngIf="phoneNumbers.invalid && (phoneNumbers.dirty || phoneNumbers.touched)" class="alert alert-warning">
        <div *ngIf="phoneNumbers.errors?.required">
          {{ 'REGISTER.phone_number_error' | translate }}
      </div>
    </div>
  </div>
     <button type="submit" class="btn btn-success" [disabled]="!form.form.valid" (click)="submit()">{{ 'REGISTER.submit_name' | translate }}</button>
</form>
