.analytics--container {
    display: flex;
    justify-content: center;
    padding: 50px;
    flex-direction: column;
}

.analytics--header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.analytics--headerPanelContainer {
    display: flex;
    justify-content: space-evenly;
}

.analytics--headerPanel {
    text-align: center;
    width: 400px;
    border: 1px solid #eeeeee;
    margin: 5px 5px 20px 5px;
    border-radius: 4px;
    padding: 4px;
    margin: 4px;
}

.analytics--listContainer {
    text-align: left;
    padding: 0px 15px 0px 15px;
}

.analytics--headerPanelIcon {
    padding: 20px;
    background-color: #eee;
    width: 100%;
}

.analytics--datePicker {
    position: absolute;
    right: 50px;
    top: 160px;
    background: white;
    border: 1px solid #eeeeee;
    padding: 15px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.analytics--diagramLabel {
    display: flex;
    align-items: baseline;
    justify-content: flex-end;
    padding-top: 20px;
}

.analytics--twoDiagrams {
    display: flex;
    justify-content: space-between;
}

.analytics--insideDiagram {
    flex: 0 0 50%;
}

// Styles for date picker
.Selectable {
    font-size: 12px;
}
.Selectable
    .DayPicker-Day--selected:not(.DayPicker-Day--start):not(.DayPicker-Day--end):not(.DayPicker-Day--outside) {
    background-color: #f0f8ff !important;
    color: #4a90e2;
}
.Selectable .DayPicker-Day {
    border-radius: 0 !important;
}
.Selectable .DayPicker-Day--start {
    border-top-left-radius: 50% !important;
    border-bottom-left-radius: 50% !important;
}
.Selectable .DayPicker-Day--end {
    border-top-right-radius: 50% !important;
    border-bottom-right-radius: 50% !important;
}

// highcharts-chart::ng-deep {
//     .highcharts-container,
//     .highcharts-container svg {
//         flex: 1 1 auto;
//         width: 100% !important;
//         height: 100% !important;
//     }
// }
