<form [formGroup]='userForm' class="register-staff-form" novalidate>
    <div class="flex-row">
        <label for="first_name">First name</label>
        <input id="first_name" type="text" formControlName='firstName' placeholder="First name" ngDefaultControl>
    </div>
    <div class="flex-row">
        <label>Last name</label>
        <input id="last_name" type="text" formControlName='lastName' placeholder="Last name" ngDefaultControl>
        
    </div>
    <div class="flex-row">
        <label>Age</label>
        <input id="age" type="number" formControlName='age' placeholder="Age" ngDefaultControl>
    </div>
    <div class="flex-row">
        <label for="sex">Sex</label>
        <select id="sex" class="full-width input-field" formControlName='sex' [(ngModel)]="selectedSex" placeholder="Sex">
            <option *ngFor="let sex of sexOptions" [value]="sex.value">
                {{ sex.viewValue }}
            </option>
        </select>
    </div>
    <div class="flex-row">            
        <label>Preferred language</label>
        <select class="full-width input-field" formControlName='preferredLanguage' [(ngModel)]="selectedLanguage" placeholder="Preferred Language">
            <option *ngFor="let language of languageOptions" [value]="language.value">
                {{ language.viewValue }}
            </option>
        </select>
    </div>
    <div class="flex-row">            
        <label>GPS location</label>
        <label for="lat">lat</label>
        <input id="lat"/>
        <label for="long">long</label>
        <input/>
    </div>
    <div class="flex-row">            
        <label for="mobile_number">Mobile phone number(s)</label>
        <input id="mobile_number" type="tel" formControlName='mobilePhoneNumber' placeholder="Telephone">
    </div>
    <div class="flex-row">            
        <label for="email">Email address</label>
        <input id="email" type="email" formControlName='email' placeholder="E-mail Address" ngDefaultControl>
    </div>
</form>
<button type="submit" class="btn submit-button" (click)="addUser(userForm.value)">Register</button>