<form #form= "ngForm" ngNativeValidate class="form-horizontal">

    <div class="form-group">
        <label class="control-label col-sm-3" for="healthRiskNumber">Health risk number:</label>
        <div class="col-sm-9">
            <input type="number" class="form-control" 
            required
            [(ngModel)]="risk.healthRiskNumber" 
            name="healthRiskNumber" id="healthRiskNumber" 
            #health_risk_number="ngModel"/>
            
            <div *ngIf="health_risk_number.invalid && (health_risk_number.dirty || health_risk_number.touched)" 
                class="alert alert-warning">

                <div *ngIf="readable_id.errors?.required">
                    Health risk number is required and must be a number.
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="name">Health risk name:</label>
        <div class="col-sm-9">
            <input type="text" 
            [(ngModel)]="risk.name" name="name" id="name" 
            required
            class="form-control"
            #risk_name="ngModel"/>

            <div *ngIf="risk_name.invalid && (risk_name.dirty || risk_name.touched)" 
                class="alert alert-warning">

                <div *ngIf="risk_name.errors?.required">
                    Healthrisk Name is required.
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-3" for="case">Case Definition:</label>
        <div class="col-sm-9">
            <textarea  ref-textarea  
            [(ngModel)]="risk.caseDefinition" name="case" id="case" cols="30" rows="10" 
            required
            class="form-control"
            #case_definition="ngModel"></textarea>

            <div *ngIf="case_definition.invalid && (case_definition.dirty || case_definition.touched)" 
                class="alert alert-warning">

                <div *ngIf="case_definition.errors?.required">
                    Case Definition is required.
                </div>
            </div>
        </div>
    </div>

    <div>
        <button (click)="submit()" type="submit" class="btn btn-primary pull-right" [disabled]="!form.form.valid">Save</button>
    </div>
</form>
