<h2>Users</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Number</th>
            <th>Email</th>
            <th>Location</th>
            <th>Last report date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.mobilePhoneNumber}}</td>
            <td>{{user.email}}</td>
            <td>{{user.location}}</td>
            <td></td>
            <td><a>Edit</a> | <cbs-deleteUser [user]=user></cbs-deleteUser></td>
        </tr>
    </tbody>
</table>