<ngx-smart-modal #modalExportCaseReports identifier="modalExportCaseReports" [backdrop]="false">
    <h2>{{ 'REGISTER.related.export_case_title' | translate }}</h2>
    <form ngNoForm *ngIf="modalExportCaseReports.hasData()" [action]="exportBackendUrl" method="get">
        <h3>{{ 'REGISTER.related.export_format' | translate }}:</h3>
        <div class="format-options">
            <label for="formatExcel">
                <input type="radio" id="formatExcel" name="format" value="excel" checked>
                {{ 'REGISTER.related.export_type_0' | translate }}
            </label>
            <!--
            <label for="formatPDF">
                <input type="radio" id="formatPDF" name="format" value="pdf">
                PDF
            </label>
            -->
            <label for="formatCSV">
                <input type="radio" id="formatCSV" name="format" value="csv">
                {{ 'REGISTER.related.export_type_1' | translate }}
            </label>
        </div>
        <div class="actions">
            <button (click)="modalExportCaseReports.close()">{{ 'REGISTER.related.export_button_1' | translate }}</button>
            <button type="submit">{{ 'REGISTER.related.export_button_0' | translate }}</button>
        </div>
    </form>
</ngx-smart-modal>
