.Filters {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5em;
  margin-top: 2em;
}

.Filters .filter {
  width: 31%;
  display: flex;
  flex-wrap: wrap;
}

.Filters .filter .react-datepicker-wrapper {
  display: block;
}

.Filters .filter .label {
  font-weight: bold;
  margin-bottom: 0.6em;
  width: 100%;
}

.Filters .filter .inputFilter {
  width: 100%;
}

.Filters .filter input,
.Filters .filter select {
  width: 100%;
  border: 2px solid #efeded;
  border-bottom-color: #000;
  background-color: #fff;
  height: 3.5em;
  padding: 0 1em;
}
