#leaflet-map {
  z-index: 2;
}
.markerClusterSmall {
  border-radius: 20px;
  font: 900 0.6vw Open sans-serif;
  color: #fff;
  text-transform: uppercase;
  width: 50px;
}
.markerClusterMedium {
  border-radius: 40px;
  font: 900 1vw Open sans-serif;
  color: #fff;
  text-transform: uppercase;
  width: 100px;
}
.markerClusterLarge {
  border-radius: 70px;
  font: 900 1.3vw Open sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.markerClusterLargeXL {
  border-radius: 70px;
  font: 900 1.6vw Open sans-serif;
  color: #fff;
  text-transform: uppercase;
}
.markerClusterLabel {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ColorsLegend {
  display: flex;
  justify-content: space-around;
}
.circle {
  border-radius: 50%;
  margin-left: 0.5vw;
}
.DiseaseAndColorCircle {
  display: flex;
  align-items: center;
  padding: 1vw;
}
.chart-text {
  font: 16px/1.4em Arial, sans-serif;
  fill: #000;
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 1em;
  line-height: 1;
  text-anchor: middle;
}
