@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$rc-red: #ca0000;
$light-grey: #f0f0f0;
$medium-grey: #cfcdcc;

.tableContainer {
    font-family: "Lato", "Helvetica Neue", sans-serif;
    margin-left: 1rem;
}

.table {
    border: 1px solid $medium-grey;
    font-family: "Lato", "Helvetica Neue", sans-serif;
}

.headline {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.tableHead {
    background-color: $light-grey;
}

.headerText {
    color: black !important;
    font-family: "Lato", "Helvetica Neue", sans-serif;
}

.cell {
    font-family: "Lato", "Helvetica Neue", sans-serif;

    &.center {
        text-align: center;
    }
}