@import '../../../assets/bootstrap/variables';

nav {
    padding: 2rem 3rem 0;
    @media (min-width: $screen-sm-min) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        padding: 0 3rem;
    }
    a {
        color: $brand-primary;
        display: block;
        font-size: 2.4rem;
        padding: 1.5rem;
        margin: 0 1rem;
        @media (min-width: $screen-sm-min) {
            border-radius: .3rem;
            font-size: 1.6rem;
            line-height: 4rem;
            padding: 0 1.5rem;
        }
        &:hover {
            background-color: $gray-lighter;
            text-decoration: none;
        }
    }
}

.navigation-header {
    padding: 5rem 1rem;
    @media (min-width: $screen-sm-min) {
        border-bottom: .2rem solid $link-color;
        display: flex;
        flex-direction: row;
        height: 7.2rem;
        justify-content: flex-start;
        padding: 0;
    }
    .logo {
        padding: 1.5rem 1rem;
    }
    svg {
        max-height: 100%;
        width: 7.35rem;
        display: block;
        @media (max-width: $screen-xs-max) {
            display: none;
        }
    }
    .login-status {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media (max-width: $screen-xs-max) {
            border-top: solid .0625rem $pre-border-color;
            padding-top: 2rem;
            margin-top: 4rem;
        }
        @media (min-width: $screen-sm-min) {
            justify-content: flex-end;
            margin-left: auto;
        }
    }
    .login-buttons {
        display: flex;
        flex-direction: row;
        @media (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            flex: 1 0 auto;
            flex-direction: column;
            align-items: flex-end;
            padding-left: 1rem;
            .login-btn {
                padding: .1rem 1rem;
            }
            .request-link {
                padding: 0;
                line-height: 3rem;
            }
        }
        @media (min-width: $screen-sm-min) {
            padding-right: 1rem;
        }
    }
    .society-picker {
        width: auto;
        margin: 0 0 0 .5rem;
    }
    .login-btn {
        margin: 0 .5rem;
    }
    .request-link {
        color: $brand-primary;
        display: block;
        font-size: 1.4rem;
        line-height: 3.5rem;
        padding: 0 1.5rem;
        margin: 0 .5rem;
        white-space: nowrap;
        border-radius: .3rem;
        &:hover {
            background-color: $gray-lighter;
            text-decoration: none;
        }
    }
    .logged-in {
        padding: 0 1rem 0 3rem;
        @media (min-width: $screen-sm-min) {
            text-align: right;
        }

        p {
            margin-bottom: 0;
        }
    }
}