POST /notifications/smseagle/incoming HTTP/1.0
Host: localhost:8080
Connection: close
Content-Length: 116
Content-Type: application/x-www-form-urlencoded

sender=%2B4787654321&timestamp=20190330194655&text=1%232%233&msgid=183&oid=&modemno=1&apikey=ThereWillBeAnApiKeyHere