@import "colors.scss";
@import "vars.scss";

.country-key-figures {
  display: flex;
  justify-content: space-around;
  font-family: "Lato", "Helvetica Neue", sans-serif;
  font-weight: 400;
  margin: 60px 25%;

  .icon {
    font-size: 5rem;
    color: $rc-red;
  }

  .key-figure {
    text-align: center;
    width: 33%;
    margin-top: 25px;
  }

  .key-figure-text {
    display: block;
    width: 100%;
  }
}

@media (max-width: $screen-sm-max) {
  .country-key-figures {
    flex-direction: column;
    margin: 0;

    .fa {
      display: none;
    }

    .key-figure {
      width: 100%;
      margin-top: 0;
      text-align: left;
      @include fontSize(18);
      font-weight: 300;
    }

    .key-figure-text {
      width: auto;
      margin: 5px 0;

      &--subcategory {
        padding-left: 20px;
      }
    }

    .key-figure-number {
      font-weight: 400;
      float: right;
    }
  }
}
