@import "colors.scss";

.overview-top {
    display: flex;
    justify-content: space-around;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-weight: 400;
    margin: 60px 25%;
  
    .icon {
      font-size: 5rem;
      color: $rc-red;
    }
  
    .card {
      text-align: center;
      width: 33%;
      margin-top: 25px;
    }
}
