@import "inclusions.scss";

@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");
@import "colors.scss";
@import "vars.scss";

html {
  font-size: 16px;
  font-family: "Lato", "Helvetica Neue", sans-serif;
}

body {
  margin: 0 0 6rem 0;
}

h1 {
  font-size: 2.5rem;

  &.jumbotron {
    font-weight: 300;
    text-align: center;
    margin-top: 8rem;
  }
}

h2 {
  &.headline {
    font-weight: 300;
  }
}

h3 {
  font-size: 1rem;
}

.headline-select {
  margin-left: 0.6rem;
  margin-bottom: 2rem;
}

@media (max-width: $screen-sm-max) {
  h1.jumbotron {
    margin: 25px 0 25px 0;
    @include fontSize(20);
  }
}
