@import url('~react-leaflet-markercluster/dist/styles.min.css');

.custom-div-icon {
    margin: 12px auto;
    font-size: 20px;
    height: 100px;
    width: 100px;
 }

.healthRiskList {
font-size: 16px;
    position: absolute;
    right: 0;
    list-style-type: none;
    width: 100px;
    top: 0;
    z-index: 999;
    background-color: white;
    width: 22%;
    margin-right: 20px;
    margin-top: 20px;
    border-radius: 4px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
}

.marker-1 {
    color: blue;
}
.marker-1-cluster{
    background-color: blue;
    color: white;
}

.marker-2{
    color: #e6194B;
}
.marker-2-cluster{
    background-color: #e6194B;
}

.marker-3 {
    color: #FFBF00;
}
.marker-3-cluster{
    background-color: #FFBF00;
}

.marker-4 {
    color: #800020;
}
.marker-4-cluster{
    background-color: #800020;
}

.marker-5 {
    color: #964B00;
}
.marker-5-cluster{
    background-color: #964B00;
}

.marker-6 {
    color: #f032e6;
}
.marker-6-cluster{
    background-color: #f032e6;
}
.marker-7 {
    color: #aaffc3;
}
.marker-8 {
    color: #800000;
}
.marker-9 {
    color: #42d4f4;
}
.marker-10 {
    color: #bfef45;
}
.marker-11 {
    color: #000075;
}
.marker-12 {
    color: #a9a9a9;
}
.marker-13 {
    color: #808000;
}
.marker-14 {
    color: #aaffc3;
}
.marker-15 {
    color: aquamarine;
}
.marker-16 {
    color: seashell;
}
.marker-17 {
    color: black;
}
.marker-18{
    color: #f58231;
}
.marker-19 {
    color: skyblue;
}
.marker-20 {
    color: #fabebe;
}
.marker-21 {
    color: #fa9907;
}
.marker-22 {
    color: teal;
}
.marker-23 {
    color: rebeccapurple;
}
.marker-24 {
    color: tomato;
}
.marker-25 {
    color: aquamarine;
}
.marker-26 {
    color: yellow;
}
.marker-27 {
    color: violet;
}
.marker-28 {
    color: #fa9907;
}
.marker-29 {
    color: peachpuff;
}
.marker-30 {
    color: white;
}
.marker-31 {
    color: silver;
}
.marker-32 {
    color: wheat;
}
.marker-99 {
    color: lightcoral
}

.marker-cluster-custom {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid #666;
  color: #666;
  text-align: center;
  font: 20px Arial, sans-serif;
  }

  .cluster-label{
    width: 8px;
    height: 8px;
    display: inline-block;
    padding: inherit;
  }

  