@import '../../styles/Settings/all.scss';
@import '../../styles/Tools/all.scss';

.messagelog {
  padding: $grid-gutter;
  @extend %flex-container-vertical;
}

.bubble {
	margin: 10px;
  display: inline-block;
  position: relative;
	max-width: 400px;
	height: auto;
  padding: 1em;
  text-align: left;
  border-radius: 30px;
  color: white;
}

.bubble.received {
  background-color: #026ee4;
}

.bubble.received:after {
  content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: auto;
	right: -20px;
  top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: #026ee4 transparent transparent transparent;
}

.bubble.sent {
  background-color: #555555;
}

.bubble.sent:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
  left: -20px;
	right: auto;
  top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: #555555 transparent transparent transparent;
}