<h3>
        Health Risks
</h3>

<a routerLink="add">
    <button type="button" class="btn btn-primary pull-right">Add Health Risk</button>
</a>

<table class="table table-bordered table-striped">
    
    <thead>
        <tr>
            <th (click)="sortRisks('id')"> ID
                <span [ngClass]="!sortReverse?'fa fa-caret-down':'fa fa-caret-up'"></span>
            </th>
            <th>Health risk</th>
            <th>Case Definition</th>
            <th>Key Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let risk of risks">
            <td>{{ risk.readableId }}</td>
            <td>{{ risk.name }}</td>
            <td>{{ risk.caseDefinition }}</td>
            <td>
                <a [routerLink]="[risk.id,'update']" routerLinkActive="active">Edit</a> | <cbs-delete-healthrisk [risk]=risk></cbs-delete-healthrisk>
            </td>
        </tr>
    </tbody>
</table>