<ngx-smart-modal #modalExportCaseReports identifier="modalExportCaseReports" [backdrop]="false">
    <h2>Export reports</h2>
    <form ngNoForm *ngIf="modalExportCaseReports.hasData()" [action]="exportBackendUrl" method="get">
        <h3>Format:</h3>
        <div class="format-options">
            <label for="formatExcel">
                <input type="radio" id="formatExcel" name="format" value="excel" checked>
                Excel
            </label>
            <!--
            <label for="formatPDF">
                <input type="radio" id="formatPDF" name="format" value="pdf">
                PDF
            </label>
            -->
            <label for="formatCSV">
                <input type="radio" id="formatCSV" name="format" value="csv">
                CSV
            </label>
        </div>
        <div class="actions">
            <button (click)="[$event.preventDefault(), modalExportCaseReports.close()]">Cancel</button>
            <button type="submit">Export</button>
        </div>
    </form>
</ngx-smart-modal>