@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

$rc-red: #ca0000;
$light-grey: #f0f0f0;
$medium-grey: #cfcdcc;

$screen-xs: 480px;
$screen-xs-min: $screen-xs;
$screen-sm: 768px;
$screen-sm-min: $screen-sm;
$screen-md: 992px;
$screen-md-min: $screen-md;
$screen-xs-max: ($screen-sm-min - 1);
$screen-sm-max: ($screen-md-min - 1);

.tableContainer {
    font-family: "Lato", "Helvetica Neue", sans-serif;
    margin-left: 0;
    @media (min-width: $screen-xs-max) {
        margin-left: 1em;
    }
}

.table {
    border: 1px solid $medium-grey;
    font-family: "Lato", "Helvetica Neue", sans-serif;
}

.headline {
    font-size: 1rem;
    margin-bottom: 1rem;
}

.headline-select {
    margin-left: 4px;
}

.tableHead {
    background-color: $light-grey;
}

.headerText {
    color: black !important; //these are marked as !important to override Google's MuiTable styling
    font-family: "Lato", "Helvetica Neue", sans-serif;
    
    &.center{
        text-align: center !important;
   }
}


.cell {
    font-family: "Lato", "Helvetica Neue", sans-serif;

    &.center {
        text-align: center;
    }
}