<!-- <select #c (change)="getDistricts($event.target.value)">
    <option *ngFor="let nation of nations">{{nation.country}}</option> 
</select> -->
<h1>Here is location select tests</h1>
<p>

</p>
<md-select (change)="sortDistricts()" [(ngModel)]="selectedCountryCode">
    <md-option *ngFor="let nation of nations" [value]="nation.countryCode">{{nation.country}}</md-option> 
</md-select>

<md-select name="select2">
    <md-option *ngFor="let district of districts" [value]="district.countryCode">{{district.place}}</md-option>
</md-select>
<p></p>
Latitude: <h2>{{location.latitude}}</h2>
Longitude: <h2>{{location.longitude}}</h2>
<button md-raised-button color="primary" class="btn" (click)="getPosition()">Fetch my geo location</button>


