<div *ngIf="dataCollector">
    <h2>{{dataCollector.fullName}}</h2>
    <div><span>{{ 'REGISTER.display_name' | translate }}: </span>{{dataCollector.displayName}}</div>
    <div><span>{{ 'REGISTER.verifier' | translate }}: </span>{{dataCollector.dataVerifierId}}</div>
    <div><span>{{ 'REGISTER.year_of_birth' | translate }}: </span>{{dataCollector.yearOfBirth}}</div>
    <div><span>{{ 'REGISTER.sex' | translate }}: </span><span>{{getSexString(dataCollector.sex)}}</span></div>
    <div><span>National society: </span>{{dataCollector.nationalSociety}}</div>
    <div><span>{{ 'REGISTER.preferred_lang' | translate }}: </span>{{getLanguageString(dataCollector.preferredLanguage)}}</div>
    <div><span>{{ 'REGISTER.location' | translate }}: </span>{{dataCollector.location.latitude}} / {{dataCollector.location.longitude}}</div>
    <div><span>{{ 'REGISTER.region' | translate }}: </span>{{dataCollector.region}}</div>
    <div><span>{{ 'REGISTER.district' | translate }}: </span>{{dataCollector.district}}</div>
    <div><span>{{ 'REGISTER.village' | translate }}: </span>{{dataCollector.village}}</div>
    <div><span>{{ 'REGISTER.phone_number' | translate }}: </span><span *ngFor="let phonenumber of dataCollector.phoneNumbers">{{phonenumber}}, </span></div>
    <div><span>Registered date: </span>{{dataCollector.registeredAt}}</div>
    <div><span>Last report received at: </span>{{dataCollector.lastReportRecievedAt}}</div>
    <div><span>{{ 'REGISTER.related.status_inactive' | translate }}: </span>{{dataCollector.inTraining}}</div>
    <button class="btn btn-primary" (click)="goBack()">{{ 'REGISTER.button' | translate }}</button>
  </div>
  