div.actions {
    text-align: right;
    padding: .5rem;
}

.headline {
    width: 100%;
    margin-top: 50px;
    height: 50px;
    line-height: 50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}

span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.header {
    flex: auto;
}

.training-toggle {
    text-align: center;
    flex: 0 1 15rem;
    height: 50px;
    align-self: flex-end;
    background-color: #e1f2fa;
    color: black;
    box-shadow: 0px 1px 2px rgba(0,0,0,0.2);
}

.paging {
    display: flex;
    border: 1px solid lightgray;
    border-radius: 2px;
    margin: 3rem 0 2rem;
    padding: 1rem 0;
    

    &-filters {
        .current {
            border: 1px solid black;
            padding-left: 2rem;
            padding-right: 2rem;
            margin: 0 .5rem;
        }
    }

    &-size {
        display: flex;
    }

    &-pages {
        text-align: right;

        &-number {
            margin: 0 2rem;
        }
    }
}

button {
    &.small {
        font-size: 1.1rem;
    }
}

th {
    font-weight: 500;

    &.sortable {
        cursor: pointer;
        font-weight: 700;
    }
}

.label {
    margin-right: 2px;
}
