<div class="header">
    <h2>Data collectors</h2>
    <a [routerLink]="['/add-user']" routerLinkActive="active">
        <button class="btn btn-primary">
            Add User
        </button>
    </a>
    <a [routerLink]="['/add-user/data-collector']" routerLinkActive="active">
        <button class="btn btn-primary">
            Add Data Collector
        </button>
    </a>
</div>
<div class="alert-danger" *ngIf="error">
    {{errorMsg}}
</div>
<table class="table table-striped" *ngIf="!error">
    <thead>
    <tr>
        <th>Full Name</th>
        <th>Display Name</th>
        <th>Phone Numbers</th>
        <th></th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                <a routerLink="/detail/{{user.dataCollectorId}}">
                    <span>
                        {{user.fullName}}
                    </span> 
                </a>
            </td>
            <td>
                {{user.displayName}}
            </td>
            <td>
                <span *ngFor="let number of user.phoneNumbers">
                    {{number.value}} 
                </span>
            </td>
            <td>
                <cbs-delete-user [user]=user></cbs-delete-user>
            </td>
            <td>
                <a [routerLink]="['/edit-user/data-collector/',user.dataCollectorId]" routerLinkActive="active">Edit</a>
            </td>
        </tr>
    </tbody>
</table>
