<h2>DataCollector User management</h2>

<form [formGroup]='dataCollectorForm' novalidate class="flex-container">

    <div class="flex-row">
        <md-form-field class="input-field full-width">
            <input mdInput formControlName='nationalSociety' placeholder="National society" ngDefaultControl  />
        </md-form-field>
    </div>

    <div class="flex-row">
        <md-form-field class="input-field full-width">
            <input mdInput formControlName='firstName' placeholder="First name" ngDefaultControl  />
        </md-form-field>
        
        <md-form-field class="input-field full-width">
            <input mdInput formControlName='lastName' placeholder="Last name" ngDefaultControl  />
        </md-form-field>
    </div>
    
    <div class="flex-row">
            <md-input-container class="input-field full-width">
                <input mdInput type="number" formControlName="age" placeholder="Age"  />
            </md-input-container>
    
            <md-form-field class="input-field full-width">
                <input mdInput formControlName='mobilePhoneNumber' placeholder="Mobile phone number" ngDefaultControl  />
            </md-form-field>
    </div>

    <div class="flex-row">
        <md-select class="full-width input-field" formControlName='sex' [(ngModel)]="selectedSex" placeholder="Sex">
            <md-option *ngFor="let sex of sexOptions" [value]="sex.value">
                {{ sex.viewValue }}
            </md-option>
        </md-select>

        <md-select formControlName="language" class="full-width" placeholder="Preferred language" [formGroup]="dataCollectorForm" ngDefaultControl>
            <md-option mdInput *ngFor="let language of languages" [value]="language.value">
                {{ language.viewValue }}
            </md-option>
        </md-select>
    </div>


    <div class="flex-row">
        <div class="flex-row"> 
            <md-form-field class="input-field full-width">
                <input mdInput formControlName='longitude' placeholder="Longitude" ngDefaultControl value={{longitude}} />
            </md-form-field>

            <md-form-field class="input-field full-width">
                <input mdInput formControlName='latitude' placeholder="Latitude" ngDefaultControl value={{latitude}} />
            </md-form-field>
        </div>

        <div class="flex-row center"> 
            <div>
                <button md-raised-button color="primary" type="submit" class="btn geo-btn" (click)="getPosition()">
                    Get current location
                </button>   
            </div>
            
            <div>
                <button md-raised-button color="primary" type="submit" class="btn geo-btn">
                    Get map location
                </button>
            </div>
        </div>
    </div>

  
        
    <div class="flex-row">
        <button md-raised-button color="primary" type="submit" class="btn" 
            (click)="adddataCollector(dataCollectorForm.value, dataCollectorForm.valid)" >Add Data Collector</button>
    </div>
</form>


