<div class="header">
    <h2>{{ 'REGISTER.related.collector' | translate }}</h2>
    <a [routerLink]="['/datacollectors/register']" routerLinkActive="active">
        <button class="btn btn-primary">
            {{ 'REGISTER.form_name' | translate }}
        </button>
    </a>
    <a>
        <export></export>
    </a>
</div>
<div class="alert-danger" *ngIf="error">
    {{errorMsg}}
</div>
<table class="table table-striped" *ngIf="!error">
    <thead>
        <tr>
            <th>{{ 'REGISTER.full_name' | translate }}</th>
            <th>{{ 'REGISTER.display_name' | translate }}</th>
            <th>{{ 'REGISTER.phone_number_list' | translate }}</th>
            <th>{{ 'REGISTER.related.status' | translate }}</th>
            <th>{{ 'REGISTER.related.last_report_name' | translate }}</th>
            <th>{{ 'REGISTER.related.action' | translate }}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                <a routerLink="/datacollectors/details/{{user.id}}">
                    <span>
                        {{user.fullName}}
                    </span>
                </a>
            </td>
            <td>
                {{user.displayName}}
            </td>
            <td>
                <span>{{user.phoneNumbers}}</span>
            </td>
            <td>
                <span class="training-status" [ngClass]="user.inTraining ? 'training-status-off' : 'training-status-on'">{{user.inTraining ? 'In Training' : 'Active'}}</span>
            </td>
            <td>
                <span>{{user.lastActive | date:'dd.MM.yy    hh:mm'}}</span>
            </td>
            <td>
                <a [routerLink]="['/datacollectors/edit/',user.id]" routerLinkActive="active">{{ 'REGISTER.related.edit_button' | translate }}</a>
                <delete-user [user]=user></delete-user>
            </td>
        </tr>
    </tbody>
</table>
