<div class="header">
    <h2>{{ 'REGISTER.related.collector' | translate }}</h2>
    <a [routerLink]="['/datacollectors/register']" routerLinkActive="active">
        <button class="btn btn-primary">
            {{ 'REGISTER.form_name' | translate }}
        </button>
    </a>
    <a>
        <export></export>
    </a>
</div>
<div class="alert-danger" *ngIf="error">
    {{errorMsg}}
</div>
<table class="table" *ngIf="!error">
    <thead>
        <tr>
            <th>{{ 'REGISTER.full_name' | translate }}</th>
            <th>{{ 'REGISTER.phone_number_list' | translate }}</th>
            <th>{{ 'REGISTER.region' | translate }}</th>
            <th>{{ 'REGISTER.related.last_report_name' | translate }}</th>
            <th>{{ 'REGISTER.related.status' | translate }}</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>
                <a routerLink="/datacollectors/details/{{user.id}}">
                    <span>
                        {{user.fullName}}
                    </span>
                </a>
            </td>
            <td>
                <span>{{user.phoneNumbers}}</span>
            </td>
            <td>
                <span> {{user.region}}</span>
            </td>
            <td>
                <span>{{user.lastActive | date:'dd.MM.yy    hh:mm'}}</span>
            </td>
            <td>
                <span class="training-status" [ngClass]="user.inTraining ? 'training-status-off' : 'training-status-on'">{{user.inTraining ? 'REGISTER.related.status_inactive' | translate : 'REGISTER.related.status_active'}}</span>
            </td>
            <td>
                <div class="btn-group" dropdown placement="bottom right">
                    <button dropdownToggle type="button" class="button1">
                        ...
                    </button>
                    <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem">
                            <a [routerLink]="['/datacollectors/edit/',user.id]" routerLinkActive="active">
                                <i class="fa fa-pencil" aria-hidden="true">&nbsp;Edit</i>
                            </a>
                        </li>
                        <li role="menuitem">
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <i class="fa fa-trash icontrash" aria-hidden="true">
                                &nbsp;<delete-user [user]=user></delete-user>
                            </i
                        ></li>
                    </ul>
                </div>
            </td>
        </tr>
    </tbody>
</table>
