.header {
  h2 {
    display: inline-block;
  }

  a {
    float: right;
    display: inline-block;
    line-height: 63px;
    margin: 8px 4px;
  }
}

.alert-danger {
  padding: 10px;
  margin: 10px 0;
}

.training-status {
  border-radius: 5px;
  color: #fff;
  display: block;
  padding: 3px 10px;
  text-align: center;
  width: 100px;
}

.training-status-on {
  background-color: green;
}
.training-status-off {
  background-color: orange;
}
tr:hover {
  background-color: #f9f9f9;
  color: #403E10;
 
  transition-delay: 0s;
  transition-duration: 0.4s;
  transition-property: all;
  transition-timing-function: line;
 }

 .icontrash{
   color: red ;
 }
 .button1
 {
   background-color: #fff;
   color : #000 ;
   border: 1px solid white;
   border-radius: 4px;
   font-weight: bold;
   font-size: 20px;
 }