[Unit]
Description=FRP Tunnel
Requires=network-online.target
After=network-online.target
Documentation=https://github.com/fatedier/frp

[Service]
Type=simple
ExecStart=/root/frpc -c /root/frpc.ini
Restart=always

[Install]
WantedBy=multi-user.target
Alias=frp.service
