<form ngNativeValidate>
  <a [routerLink]="['/']" class="back-button">
      <button class="btn btn-primary">Back</button>
  </a>
  <h1>Add Data Collector</h1>
  <div class="form-group">
      <label for="full_name">Full Name</label>
      <input type="text" class="form-control" id="full_name"
             required
             [(ngModel)]="user.fullName" name="full_name"
             #first_name="ngModel">
  </div>
<div class="form-group">
      <label for="display_name">Display Name</label>
      <input type="text" class="form-control" id="display_name"
              required
              [(ngModel)]="user.displayName" name="display_name"
              #last_name="ngModel">
  </div>
  <div class="form-group">
    <label for="yearOfBirth">Year of Birth</label>
    <input type="number" class="form-control" id="yearOfBirth"
           required
           [(ngModel)]="user.yearOfBirth" name="yearOfBirth"
           #yearOfBirth="ngModel">
  </div>
  <div class="form-group">
    <label for="sex">Sex</label>
    <select class="form-control" id="sex"
            required
            [(ngModel)]="user.sex" name="sex"
            #sex="ngModel">
        <option *ngFor="let s of sexOptions" [value]="s.id">{{s.desc}}</option>
    </select>
  </div>
<div class="form-group">
    <label for="preferredLanguage">Preferred Language</label>
    <select class="form-control" id="preferredLanguage"
            required
            [(ngModel)]="user.preferredLanguage" name="preferredLanguage"
            #preferredLanguage="ngModel">
        <option *ngFor="let preferredLanguage of languageOptions" [value]="preferredLanguage">{{preferredLanguage}}</option>
    </select>
  </div>  
  <div class="form-group">
    <label>Location</label>
    <fieldset class="form-inline">
      <label for="latitude">Latitude</label>
      <input
        type="number"
        class="input-mini form-control" 
        id="latitude"
        required
        [(ngModel)]="user.location.latitude"
        name="latitude"
      />
      <label for="longitude">Longitude</label>
     <input 
        type="number"
        class="input-mini form-control" 
        id="longitude"
        required
        [(ngModel)]="user.location.longitude"
        name="longitude"
      />
    </fieldset>
  </div>
   <label>Phone numbers (comma seperated)</label>
  <div class="form-group">
    <input type="text"
      class="input-mini form-control" 
      id="phoneNumber"
      required
      [(ngModel)]="user.phoneNumberString"
      name="phoneNumber"
        >
  </div>
     <button type="submit" class="btn btn-success" (click)="submit()">Submit</button>
</form>


