@import 'assets/bootstrap/variables';
@import '../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap';
@import 'assets/bootstrap/theme';

.form-group {
  select,
  input {
    background-color: #fafafa;
    border: 1px solid #363534;
    border-radius: 0 ;
  }
}

