<h2>Staff User management</h2>

<p>Click button to add a staff user</p>

<form [formGroup]='staffUserForm' novalidate>
    <md-form-field class="example-full-width input-field">
        <input mdInput formControlName='firstName' placeholder="First name" ngDefaultControl>
    </md-form-field>
    
    <md-form-field class="example-full-width input-field">
        <input mdInput formControlName='lastName' placeholder="Last name" ngDefaultControl>
    </md-form-field>
    <!--
    <md-form-field class="example-full-width input-field">
        <input mdInput formControlName='sex' placeholder="Sex" ngDefaultControl/>
    </md-form-field>-->

    <md-select formControlName='sex' [(ngModel)]="selectedSex" placeholder="Sex">
        <md-option *ngFor="let sex of sexOptions" [value]="sex.value">
            {{ sex.viewValue }}
        </md-option>
    </md-select>
 
    <md-form-field class="example-full-width input-field">
        <input mdInput formControlName='age' placeholder="Age" ngDefaultControl>
    </md-form-field>
    
    <md-form-field class="example-full-width input-field">
        <input mdInput formControlName='nationalSociety' placeholder="National society" ngDefaultControl>
    </md-form-field>
    
    <md-form-field class="example-full-width input-field">
        <input mdInput formControlName='preferredLanguage' placeholder="Preferred language" ngDefaultControl>
    </md-form-field>
    
    <md-form-field class="example-full-width input-field">
        <input mdInput formControlName='mobilePhoneNumber' placeholder="Mobile phone number" ngDefaultControl>
    </md-form-field>

    <md-form-field class="example-full-width input-field">
        <input mdInput formControlName='email' placeholder="E-mail Address" ngDefaultControl>
    </md-form-field>
</form>

<button md-raised-button color="primary" type="submit" class="btn" (click)="addStaffUser(staffUserForm.value)">Add staff user</button>

