#modal-root {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 99999;
}

.modal-container {
  padding: 3em;
  position: absolute;
  display: block;
  z-index: 99999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  background-color: #fff;
}

.modal-container .row {
  margin-top: 2em;
}

.modal-container .info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.modal-container .info .label {
  padding-right: 1em;
}

.modal-container .info p {
  font-weight: bold;
}

#modal-root .actions {
  float: right;
}
#modal-root .actions .btn:nth-child(2) {
  margin-left: 1em;
}

#modal-root .btn {
  font-weight: bold;
  padding: 0.5em;
  border-radius: 2px;
}

#modal-root .btn:focus {
  outline: none !important;
}

#modal-root .btn-close {
  background-color: #fff;
  border: 1px solid #a32d2c;
  color: #a32d2c;
}
#modal-root .btn-alert {
  background-color: var(--blue);
  border: 1px solid var(--blue);
  color: #fff;
}
