<header class="navigation-header">
    <figure class="logo">
        <svg xmlns="http://www.w3.org/2000/svg" width="700" height="400" viewBox="0 0 175 100">
            <rect width="175" height="100" fill="#fff" />
            <path d="M20,50h66m-33,-33v66" fill="none" stroke="#c00" stroke-width="20" />
            <circle cx="132" cy="50" r="34" fill="#c00" />
            <circle cx="142" cy="50" r="28" fill="#fff" />
            <path d="M7,7H168V93H7z" fill="none" stroke="#c00" stroke-width="3" />
        </svg>
    </figure>
    <nav>
        <a href="/admin/">{{ 'REGISTER.NAVBAR.link_1' | translate }}</a>
        <a href="/reporting/datacollectors/">{{ 'REGISTER.NAVBAR.link_2' | translate }}</a>
        <a href="/reporting/case-reports/">{{ 'REGISTER.NAVBAR.link_3' | translate }}</a>
        <a href="/alerts/">{{ 'REGISTER.NAVBAR.link_4' | translate }}</a>
        <a href="/analytics/">{{ 'REGISTER.NAVBAR.link_5' | translate }}</a>
    </nav>

    <div class="login-status">
        <div class="logged-in">
            <p>
                {{ 'REGISTER.NAVBAR.link_6' | translate }}:
            </p>
            <p>{{name}}</p>
            <button (click)="logout()">{{ 'REGISTER.NAVBAR.sub_link' | translate }}</button>
        </div>
    </div>
</header>
