form {
    h3 {
        font-size: 2rem;
    }

    .format-options {
        margin: 1rem 0;
    }

    label {
        cursor: pointer;
        padding: 1rem;
    }
}

div.actions {
    text-align: right;
}
