:navigation-header {
    --screen-sm: 768px;
    --screen-sm-min: var(--screen-sm);
    --screen-md: 992px;
    --screen-md-min: var(--screen-md);
    --screen-lg: 1200px;
    --screen-lg-min: var(--screen-lg);
    --screen-xs-max: var(--screen-sm-min) - 1;
    --screen-sm-max: var(--screen-md-min) - 1;
    --screen-md-max: var(--screen-lg-min) - 1;
    --brand-primary: #363534;
    --brand-success: rgb(40, 182, 44);
    --brand-info: rgb(117, 202, 235);
    --brand-warning: rgb(255, 133, 27);
    --brand-danger: rgb(255, 65, 54);
    --link-color: rgb(206, 23, 30);
    --gray-base: rgb(31, 30, 29);
    --gray-darker: lighten(#000, 13.5%);
    --gray-dark: lighten(#000, 20%);
    --gray: lighten(#000, 33.5%);
    --gray-light: lighten(#000, 60%);
    --gray-lighter: lighten(#000, 93.5%);
    --link-color: rgb(206, 23, 30);
    --pre-border-color: rgb(204, 204, 204);
  }