<h3> USER FORM COMPONENT</h3>
<h4> select type: <b>{{selectedUserRole}}</b></h4>
<div> {{user | json}}</div>


<form novalidate>
    <div class="admin-form" *ngIf="selectedUserRole == ('admin')">
        <cbs-user-form-admin></cbs-user-form-admin>
    </div>

    <div class="system-configurator-form" *ngIf="selectedUserRole == ('systemConfigurator')">
        <cbs-user-form-system-configurator></cbs-user-form-system-configurator>
    </div>

    <div class="data-coordinator-form" *ngIf="selectedUserRole == ('dataCoordinator')">
        <cbs-user-form-data-coordinator></cbs-user-form-data-coordinator>
    </div>

</form>