<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Hello, cbs!</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi facilisis malesuada porttitor. Aenean tristique
                nisl eget velit luctus accumsan. Quisque sit amet fringilla ipsum, eu aliquam augue.</p>
        </div>
    </div>

    <div class="container">
        <nav>
            <a routerLink="/case-report/list" routerLinkActive="active">Case Report List</a>
        </nav>
        <router-outlet></router-outlet>
    </div>
</body>